@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Revolution&family=Rampart+One&display=swap');

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-image: url('https://i.postimg.cc/MZ98r2jF/TOKYO-NIGHT-BACKGROUND.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

a {
	color: #fff;
	position: absolute;
	top: 50px;
	left: 50px;
}

.footer,
a {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.logo-link {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.favicon-link {
	width: 70px;
	height: 70px;
	margin-right: 2.5px;
	margin-bottom: -2.5px;
}

.text-container {
	display: flex;
	flex-direction: column;
}

.upper {
	font-family: 'Rampart One', sans-serif;
	font-size: 32px;
	margin-bottom: -25px;
}

.lower {
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

.button {
	display: flex;
	border: 3px #ffffff solid;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

.cube {
	transition: all 0.3s;
	transform-style: preserve-3d;
	width: 220px;
	height: 54px;
}

.button:hover .cube {
	transform: rotateX(90deg);
}

.side {
	position: absolute;
	height: 54px;
	width: 220px;
	display: flex;
	font-size: 0.9em;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.top {
	background: #222229;
	color: #ffffff;
	transform: rotateX(-90deg) translateZ(27px);
}

.front {
	background: #b91515;
	color: #ffffff;
	transform: translateZ(27px);
}

.footer {
	position: fixed;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
}

.bottom {
	font-family: 'Rampart One', sans-serif;
	font-size: 32px;
}

.favicon-footer {
	width: 45px;
	height: 45px;
	margin-right: 0.5px;
	margin-bottom: -8px;
}
