body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-image: url('https://i.postimg.cc/RVgFc15G/Japanese-Background.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.button {
	display: flex;
	border: 3px #ffffff solid;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
}

.border {
	background-color: #ffffff;
	padding: 14px 0px 12px 0px;
}

.cube {
	transition: all 0.3s;
	transform-style: preserve-3d;
	width: 200px;
	height: 20px;
}

.button:hover {
	border-color: #ffffff;
}

.button:hover .cube {
	transform: rotateX(90deg);
}

.side {
	position: absolute;
	height: 47px;
	width: 200px;
	display: flex;
	font-size: 0.8em;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.top {
	background: #222229f5;
	color: #ffffff;
	transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
}

.front {
	background: #990110f5;
	color: #ffffff;
	transform: translate3d(0, 0, 1em);
}

.footer {
	position: fixed;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}

.flag {
	width: 40px;
	height: 20px;
	margin: 2.5px 10px;
}
